<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="row between-xs middle-xs header-row">
            <nav>
                <a mat-button routerLink="/home" routerLinkActive="active"><mat-icon>
                    house</mat-icon>Home</a>
                <a mat-button routerLink="/products" routerLinkActive="active"><mat-icon>
                    storefront</mat-icon>Products</a>
                <a mat-button routerLink="/contact" routerLinkActive="active"><mat-icon>
                    contact_support</mat-icon>Contact</a>
            </nav>
            <a mat-raised-button color="basic" matBadge="4" matBadgeColor="warn"> 
                <mat-icon>shopping_cart</mat-icon>
                Carrito
            </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>


